@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

body {
    /* Fonts */
    --text-font: "Signika", sans-serif;
    --codename-font: "Source Code Pro", monospace;

    /* Colours */
    --red-1: #c52f36;
    --red-2: #92252A;
    --blue-1: #1F5CE9;
    --blue-2: #1A439F;
    --gray-1: #656565;
    --gray-2: #474747;
    --light-1: #E1E1E1;
    --light-2: #C8C8C8;
    --dark-1: #232323;
    --dark-2: #000000;

    /* Global styles */
    background-color: black;

    font-family: var(--text-font);
    font-size: 18px;
    color: var(--bs-light);
}

.game {
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game > div:first-child {
    margin-top: 3rem;
}
.game > div:last-child {
    margin-bottom: 3rem;
}

/* Global utility classes */
.text-red {
    color: var(--red-1);
}

.text-blue {
    color: var(--blue-1);
}

.text-gray {
    color: var(--gray-1);
}

.bg-red {
    background-color: var(--red-2);
}

.bg-blue {
    background-color: var(--blue-2);
}