@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

body {
    /* Fonts */
    --text-font: "Signika", sans-serif;
    --codename-font: "Source Code Pro", monospace;

    /* Colours */
    --red-1: #c52f36;
    --red-2: #92252A;
    --blue-1: #1F5CE9;
    --blue-2: #1A439F;
    --gray-1: #656565;
    --gray-2: #474747;
    --light-1: #E1E1E1;
    --light-2: #C0C0C0;
    --dark-1: #232323;
    --dark-2: #000000;

    /* Global styles */
    background-color: black;

    font-family: var(--text-font);
    font-size: 18px;
    color: var(--bs-light);
}

/* Override Bootstrap styles */
.tooltip {
    --bs-tooltip-bg: white;
    --bs-tooltip-color: black;
}

.form-control {
    font-size: inherit;
    padding: 0.25em 0.5em;
    border-radius: var(--bs-border-radius-sm);
}
.form-control:disabled {
    opacity: 80%;
}
.form-control:focus {
    border-color: var(--light-1);
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

/* Game view layout */
.game {
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.game-menu {
    margin-top: 1rem;
}
.game-main {
    height: 70%;
    margin-bottom: 4rem;
}

/* Utility classes */
.fullscreen-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-red {
    color: var(--red-1);
}

.text-blue {
    color: var(--blue-1);
}

.text-gray {
    color: var(--gray-1);
}

.bg-red {
    background-color: var(--red-2);
}

.bg-blue {
    background-color: var(--blue-2);
}