.push-button {
    padding: 0;
    border: none;
    border-radius: var(--bs-border-radius-sm);

    transform: translateY(2px); /* translate down overall for better centering */
}

.push-button > .front {
    display: block;
    width: 100%;
    border-radius: var(--bs-border-radius-sm);
    padding: 0.25em 0.5em;

    color: white;
    transform: translateY(-4px);
}

/* Size variants */
.push-button.sm > .front {
    font-size: 16px;
}

.push-button.lg > .front {
    font-size: 24px;
}

/* Colour variants - gray by default */
.push-button, .push-button.gray {
    background-color: var(--gray-2);
}
.push-button > .front, .push-button.gray > .front {
    background-color: var(--gray-1);
}

.push-button.red {
    background-color: var(--red-2);
}
.push-button.red > .front {
    background-color: var(--red-1);
}

.push-button.blue {
    background-color: var(--blue-2);
}
.push-button.blue > .front {
    background-color: var(--blue-1);
}

.push-button.light {
    background-color: var(--light-2);
}
.push-button.light > .front {
    background-color: var(--light-1);
    color: black;
}

.push-button.dark {
    background-color: var(--dark-2);
}
.push-button.dark > .front {
    background-color: var(--dark-1);
}

/* Contextual styles */
.push-button:hover:enabled > .front {
    filter: brightness(90%);
}

.push-button.selected > .front, .push-button:active:enabled > .front, .push-button:disabled > .front {
    transform: translateY(-1px);
}

.push-button:disabled {
    opacity: 60%;
}