.card-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.75rem;

    text-align: center;
}

.codename-card {
    /* override default button styles */
    border: none;
    cursor: default!important;
    user-select: text;

    display: block;
    border-radius: var(--bs-border-radius-lg);
    padding: 0.5em;
}

.codename-card__label {
    position: relative;
    top: 20%; /* todo: this isn't aligned properly */
    width: 100%;

    border-radius: var(--bs-border-radius);
    padding: 0.25em 0;

    font-family: var(--codename-font);
    font-size: 20px;
}

.codename-card.red {
    background-color: var(--red-1);
    color: white;
}

.codename-card.red > .codename-card__label {
    background-color: var(--red-2);
}

.codename-card.blue {
    background-color: var(--blue-1);
    color: white;
}

.codename-card.blue > .codename-card__label {
    background-color: var(--blue-2);
}

.codename-card.bystander {
    background-color: var(--light-1);
    color: black;
}

.codename-card.bystander > .codename-card__label {
    background-color: var(--light-2);
}

.codename-card.assassin {
    background-color: var(--dark-1);
    color: white;
}

.codename-card.assassin > .codename-card__label {
    background-color: var(--dark-2);
}

.codename-card.hidden {
    background-color: var(--gray-1);
    color: white;
}

.codename-card.hidden > .codename-card__label {
    background-color: var(--gray-2);
}

.codename-card.revealed {
    opacity: 40%;
}

.codename-card.hidden.interactible {
    cursor: pointer!important;
    user-select: none;
}

.codename-card.hidden.interactible:hover, .codename-card.hidden.interactible:focus {
    outline: none;
    filter: brightness(150%);
    transform: translateY(-0.25rem);
}

.codename-card.hidden.interactible:active {
    filter: brightness(130%);
}
