/* Main page */
.home {
    min-width: 50%;
    text-align: center;
}

.home__title {
    font-family: var(--codename-font);
    font-size: 54px;
    margin-bottom: 0;
}

.home__subtitle {
    font-family: var(--codename-font);
    margin-bottom: 5rem;
}

.home__button {
    width: 75%;
    margin-bottom: 1rem;
}

/* Modals */
.creation-modal .modal-content {
    background-color: var(--dark-1);
    color: white;
}
