.home {
    height: 100vh;
}

.home div.col, .home div.row, .title-page, .side-page {
    height: 100%;
}

/* Main section */
.title-page, .side-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title-page__title {
    font-family: var(--codename-font);
    font-size: 54px;
    margin-bottom: 0;
}

.title-page__subtitle {
    font-family: var(--codename-font);
    font-style: italic;
    margin-bottom: 4rem;
}

.title-page__button {
    width: 75%;
    margin-bottom: 1rem;
}

/* Side section - join, create pages */
.side-page {

}
