input {
    padding: 0.25em 0.5em;
    background-color: var(--light-1);

    border-radius: var(--bs-border-radius-sm);
    border-color: var(--light-2);
    border-width: 2px;
    border-style: solid;
}

input:enabled:hover, input:enabled:active {
    background-color: white;
}

input:focus {
    outline: 5px solid rgba(255, 255, 255, 0.25);
}

input:disabled {
    opacity: 80%;
}